altair==4.1.0
altgraph==0.17
appdirs==1.4.4
apyori==1.1.2
argon2-cffi==20.1.0
asgiref==3.2.10
astor==0.8.1
async-generator==1.10
attrs==20.2.0
autocorrect==2.2.2
backcall==0.2.0
base58==2.0.1
bleach==3.2.1
blinker==1.4
blis==0.7.4
bokeh==2.3.0
boltons==20.2.1
boto3==1.16.25
botocore==1.19.25
branca==0.4.2
breadability==0.1.20
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-spinner==0.1.10
colorama==0.4.4
colorlog==4.8.0
cx-Freeze==6.1
cycler==0.10.0
cymem==2.0.5
Cython==0.29.14
dacite==1.6.0
dataclasses==0.8
datapane==0.10.2
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docopt==0.6.2
dominate==2.6.0
efficient-apriori==1.1.1
entrypoints==0.3
enum-compat==0.0.3
face==20.1.1
face-recognition-models==0.3.0
filelock==3.0.12
Flask==1.1.2
flit-core==3.0.0
folium==0.12.1
furl==2.1.0
future==0.18.2
futures==3.1.1
Fuzzy==1.2.2
gensim==3.8.3
gitdb==4.0.5
GitPython==3.1.11
glom==20.11.0
googleapis-common-protos==1.51.0
goslate==1.5.1
grpcio==1.35.0
gTTS==2.2.1
gunicorn==20.0.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
imbalanced-learn==0.7.0
imblearn==0.0
importlib==1.0.4
importlib-metadata==1.7.0
importlib-resources==5.1.2
inexactsearch==1.0.2
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
micawber==0.5.3
mistune==0.8.4
mlxtend==0.18.0
moviepy==1.0.3
munch==2.5.0
murmurhash==1.0.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
nltk==3.5
notebook==6.1.4
numpy==1.19.3
orderedmultidict==1.0.1
packaging==20.4
pandas==1.1.4
pandas-datareader==0.9.0
pandocfilters==1.4.3
parso==0.7.1
pathtools==0.1.2
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.0.1
pipenv==2020.8.13
pipreqs==0.4.10
plac==1.1.3
plotly==4.14.1
preshed==3.0.5
proglog==0.1.9
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.14.0
pyarrow==3.0.0
PyAudio==0.2.11
pycountry==20.7.3
pycparser==2.20
pydeck==0.5.0
pydotplus==2.0.2
Pygments==2.7.2
PyInstaller==3.6
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.17.3
pyspellchecker==0.5.5
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pywsd==1.2.4
PyYAML==5.4.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.11.13
requests==2.25.0
requests-toolbelt==0.9.1
retrying==1.3.3
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
silpa-common==0.3
six==1.15.0
sklearn==0.0
smart-open==4.0.1
smmap==3.0.4
soundex==1.1.3
spacy==2.3.5
SpeechRecognition==3.8.1
spellchecker==0.4
sqlparse==0.3.1
srsly==1.0.5
streamlit==0.71.0
stringcase==1.2.0
sumy==0.8.1
tabulate==0.8.9
terminado==0.9.1
testpath==0.4.4
textblob==0.15.3
thinc==7.4.5
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.54.0
traitlets==4.3.3
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
vaderSentiment==3.3.2
validators==0.18.1
vernacular-ai-speech==0.1.2
virtualenv==20.0.31
virtualenv-clone==0.5.4
wasabi==0.8.0
watchdog==0.10.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wn==0.3.0
xgboost==1.3.1
yarg==0.1.9
zipp==3.1.0
zope.interface==5.3.0
